* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 320px;
  background-color: #638e4c;
}

header {
  position: relative;
}
header .bg-image {
  height: 160px;
  width: auto;
  background-image: url("../img/imgMobile/main-image-mobile.jpg");
  background-size: 320px auto;
  background-repeat: no-repeat;
  background-position: 0px -35px;
}
header .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 160px;
  width: 320px;
  background-color: rgba(30, 32, 18, 0.2);
}

nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  box-shadow: 0 10px 15px 5px rgba(30, 32, 18, 0.4);
  background-color: #f9f9f3;
}
nav div img {
  width: 150px;
}
nav .menu-list {
  display: none;
  position: absolute;
  top: 7vh;
  right: 4vw;
  padding: 4px;
  border-radius: 0px 0px 10px 10px;
  background-color: #f9f9f3;
}
nav .menu-list ul li {
  padding: 5px 2px;
  border-bottom: 1px solid rgba(30, 32, 18, 0.4);
  list-style: none;
}
nav .menu-list ul li a {
  color: #1e2012;
  font-family: "Martian Mono", monospace;
  font-size: 11px;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;
}

main {
  width: 100%;
  margin: 20px auto 0;
}
main .abt-us {
  width: 90%;
  margin: auto;
}
main .abt-us .abt-us-box .box-img {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #4c6938;
  box-shadow: 0px 0px 10px #1e2012;
  border-radius: 100px 0px 100px 0px;
}
main .abt-us .abt-us-box .box-img .abt-us-shadow {
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #4c6938;
  box-shadow: 0px 0px 10px #1e2012;
  border-radius: 100px 0px 100px 0px;
  background-color: rgba(30, 32, 18, 0.4);
}
main .abt-us .abt-us-box .box-img .abt-us-visible-header {
  width: 90%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 1.35rem;
  color: #f9f9f3;
  text-shadow: 0 0 5px black;
  z-index: 10;
}
main .abt-us .abt-us-box .box-img .circle-animation {
  position: absolute;
  bottom: 21%;
  left: 47%;
  transform: translate(-50%);
  height: 10px;
  width: 10px;
  border: solid 1px white;
  border-radius: 50%;
  animation: scaleOut 2s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes scaleOut {
  from {
    transform: scale(0.5, 0.5);
    opacity: 1;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
main .abt-us .abt-us-box .box-img .fa-hand-pointer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  color: rgba(249, 249, 243, 0.6);
}
main .abt-us .abt-us-box .abt-us-img-ingredients {
  background-image: url("../img/imgMobile/natural-ingredients-mobile.png");
}
main .abt-us .abt-us-box .abt-us-img-packaging {
  background-image: url("../img/imgMobile/package-mobile.png");
}
main .abt-us .abt-us-box .abt-us-img-parcels {
  background-image: url("../img/imgMobile/parcel-mobile.png");
}
main .abt-us .abt-us-box .abt-us-img-energy {
  background-image: url("../img/imgMobile/renewable-energy-mobile.png");
}
main .abt-us .abt-us-box .abt-us-img-co2 {
  background-image: url("../img/imgMobile/co2-mobile.png");
}
main .abt-us .abt-us-box .hidden {
  display: none;
  padding-bottom: 15px;
}
main .our-products {
  width: 90%;
  margin: auto;
  background-color: #f9f9f3;
}
main .our-products .products-box .box-img {
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #4c6938;
  box-shadow: 0px 0px 10px #1e2012;
  border-radius: 0px 100px 0px 100px;
}
main .our-products .products-box .box-img .products-shadow {
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #4c6938;
  box-shadow: 0px 0px 10px #1e2012;
  border-radius: 100px 0px 100px 0px;
  background-color: rgba(30, 32, 18, 0.4);
}
main .our-products .img-product-bath-balls {
  background-image: url("../img/imgMobile/bath-balls-mobile.png");
}
main .our-products .img-product-candles {
  background-image: url("../img/imgMobile/candles-mobile.png");
}
main .our-products .img-product-face-gel {
  background-image: url("../img/imgMobile/face-cleaning-mobile.png");
}
main .our-products .img-product-face-cream {
  background-image: url("../img/imgMobile/face-cream-mobile.png");
}
main .our-products .img-product-face-masks {
  background-image: url("../img/imgMobile/face-mask-mobile.png");
}
main .our-products .img-product-lip-care {
  background-image: url("../img/imgMobile/lip-care-mobile.png");
}
main .our-products .img-product-makeup {
  background-image: url("../img/imgMobile/makeup-mobile.png");
}
main .our-products .img-product-soaps {
  background-image: url("../img/imgMobile/soap-mobile.png");
}
main .our-products .img-product-sun-blocker {
  background-image: url("../img/imgMobile/sunblock-mobile.png");
}
main .contact {
  margin-top: 10px;
}
main .contact .home-address {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #f9f9f3;
  text-transform: uppercase;
  text-align: center;
}
main .contact .home-address h3 {
  margin-bottom: 5px;
  text-decoration: underline;
}
main .contact .social-media {
  margin: 20px 10px;
}
main .contact .social-media .SM-list {
  display: flex;
  justify-content: space-around;
}
main .contact .social-media .SM-list li {
  font-size: 1.8rem;
  color: #f9f9f3;
  text-decoration: none;
  list-style: none;
}

footer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #1e2012;
  color: #f9f9f3;
}
footer .soapberry-footer-img {
  height: 30px;
  width: 100%;
  background-image: url("../img/imgMobile/logotype-white-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}/*# sourceMappingURL=styles.css.map */