// <----- ABOUT US PHOTOS ----->

$ingredientsMobile: url("../img/imgMobile/natural-ingredients-mobile.png");
$ingredientsDesktop: url("../img/imgDesktop/natural-ingredients-desktop.png");
$packagingMobile: url("../img/imgMobile/package-mobile.png");
$packagingDesktop: url("../img/imgDesktop/package-desktop.png");
$parcelsMobile: url("../img/imgMobile/parcel-mobile.png");
$parcelsDesktop: url("../img/imgDesktop/parcel-desktop.png");
$energyMobile: url("../img/imgMobile/renewable-energy-mobile.png");
$energyDesktop: url("../img/imgDesktop/renewable-energy-desktop.png");
$coMobile: url("../img/imgMobile/co2-mobile.png");
$coDesktop: url("../img/imgDesktop/co2-desktop.png");

// <----- PRODUCTS PHOTOS ----->

$bathBallMobile: url("../img/imgMobile/bath-balls-mobile.png");
$bathBallDesktop: url("../img/imgDesktop/bath-ball-desktop.png");
$candlesMobile: url("../img/imgMobile/candles-mobile.png");
$candlesDesktop: url("../img/imgDesktop/candles-desktop.png");
$faceCleanerMobile: url("../img/imgMobile/face-cleaner-mobile.png");
$faceCleanerDesktop: url("../img/imgDesktop/face-cleaner-desktop.png");
$faceGelMobile: url("../img/imgMobile/face-cleaning-mobile.png");
$faceGelDesktop: url("../img/imgDesktop/face-cleaning-desktop.png");
$faceCreamMobile: url("../img/imgMobile/face-cream-mobile.png");
$faceCreamDesktop: url("../img/imgDesktop/face-cream-desktop.png");
$faceMaskMobile: url("../img/imgMobile/face-mask-mobile.png");
$faceMaskDesktop: url("../img/imgDesktop/face-mask-desktop.png");
$lipCareMobile: url("../img/imgMobile/lip-care-mobile.png");
$lipCareDesktop: url("../img/imgDesktop/lip-care-desktop.png");
$soapsMobile: url("../img/imgMobile/soap-mobile.png");
$soapsDesktop: url("../img/imgDesktop/soap-desktop.png");
$sunBlockerMobile: url("../img/imgMobile/sunblock-mobile.png");
$sunBlockerDesktop: url("../img/imgDesktop/sunblock-desktop.png");
$makeUpMobile: url("../img/imgMobile/makeup-mobile.png");
$makeUpDesktop: url("../img/imgDesktop/makeup-desktop.png");
