@use "colors" as colors;
@use "fonts" as fonts;
@use "images" as images;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	width: 320px;
	background-color: colors.$ultra-green;
}

@mixin box {
	margin-bottom: 15px;
	width: 100%;
	height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: solid 2px colors.$light-green;
	box-shadow: 0px 0px 10px colors.$dark-green;
}

// <----- HEADER ----->

header {
	position: relative;
	.bg-image {
		height: 160px;
		width: auto;
		background-image: url("../img/imgMobile/main-image-mobile.jpg");
		background-size: 320px auto;
		background-repeat: no-repeat;
		background-position: 0px -35px;
	}
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		height: 160px;
		width: 320px;
		background-color: rgba(colors.$dark-green, $alpha: 0.2);
	}
}

// <----- NAVIGATION ----->

nav {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	box-shadow: 0 10px 15px 5px rgba(colors.$dark-green, $alpha: 0.4);
	background-color: colors.$nearly-white;

	div img {
		width: 150px;
	}

	.menu-list {
		display: none;
		position: absolute;
		top: 7vh;
		right: 4vw;
		padding: 4px;
		border-radius: 0px 0px 10px 10px;
		background-color: colors.$nearly-white;

		ul li {
			padding: 5px 2px;
			border-bottom: 1px solid rgba(colors.$dark-green, $alpha: 0.4);
			list-style: none;

			a {
				color: colors.$dark-green;
				font-family: fonts.$martian;
				font-size: 11px;
				letter-spacing: 0.8px;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

// <----- MAIN SECTION -----.

main {
	width: 100%;
	margin: 20px auto 0;
	.abt-us {
		width: 90%;
		margin: auto;
		.abt-us-box {
			.box-img {
				position: relative;
				@include box;
				border-radius: 100px 0px 100px 0px;
				.abt-us-shadow {
					@include box;
					border-radius: 100px 0px 100px 0px;
					background-color: rgba(colors.$dark-green, $alpha: 0.4);
				}
				.abt-us-visible-header {
					width: 90%;
					position: absolute;
					top: 40%;
					left: 50%;
					transform: translate(-50%);
					text-align: center;
					font-size: 1.35rem;
					color: colors.$nearly-white;
					text-shadow: 0 0 5px black;
					z-index: 10;
				}
			}
			.abt-us-img-ingredients {
				background-image: images.$ingredientsMobile;
			}
			.abt-us-img-packaging {
				background-image: images.$packagingMobile;
			}
			.abt-us-img-parcels {
				background-image: images.$parcelsMobile;
			}
			.abt-us-img-energy {
				background-image: images.$energyMobile;
			}
			.abt-us-img-co2 {
				background-image: images.$coMobile;
			}
			.hidden {
				display: none;
				padding-bottom: 15px;
			}
		}
	}

	.our-products {
		// @include box;
		// border-radius: 0px 100px 0px 100px;
		background-color: colors.$nearly-white;
		.img-product-bath-balls {
			background-image: images.$bathBallMobile;
		}
		.img-product-candles {
			background-image: images.$candlesMobile;
		}
		.img-product-face-gel {
			background-image: images.$faceGelMobile;
		}
		.img-product-face-cream {
			background-image: images.$faceCreamMobile;
		}
		.img-product-face-masks {
			background-image: images.$faceMaskMobile;
		}
		.img-product-lip-care {
			background-image: images.$lipCareMobile;
		}
		.img-product-makeup {
			background-image: images.$makeUpMobile;
		}
		.img-product-soaps {
			background-image: images.$soapsMobile;
		}
		.img-product-sun-blocker {
			background-image: images.$sunBlockerMobile;
		}
	}
	.contact {
		margin-top: 10px;
		.home-address {
			h3 {
				margin-bottom: 5px;
				text-decoration: underline;
			}
			font-family: fonts.$open-sans;
			font-weight: bold;
			color: colors.$nearly-white;
			text-transform: uppercase;
			text-align: center;
		}
		.social-media {
			margin: 20px 10px;
			.SM-list {
				display: flex;
				justify-content: space-around;
				li {
					font-size: 1.8rem;
					color: colors.$nearly-white;
					text-decoration: none;
					list-style: none;
				}
			}
		}
	}
}

// <----- FOOTER ----->

footer {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: colors.$dark-green;
	color: colors.$nearly-white;
	.soapberry-footer-img {
		height: 30px;
		width: 100%;
		background-image: url("../img/imgMobile/logotype-white-mobile.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
